Repository openfoodfacts/recipe-estimator, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, javascript

.github/labeler.yml:

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

javascript:
- changed-files:
  - any-glob-to-any-file: 'frontend/package-lock.json'

Fix test
  recipe_estimator/recipe_estimator.py
Labels: none

fix: input checks + put max constraints on salt / fat / sugar ingredients only if corresponding nutrient is provided (#96)
  recipe_estimator/nutrients.py
  recipe_estimator/prepare_nutrients.py
  recipe_estimator/recipe_estimator.py
Labels: none

fix: Attempting to get dependabot to work for npm
  .github/dependabot.yml
Labels: github_actions

chore(main): release 0.3.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: none

chore(main): release 0.3.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: none

chore(main): release 0.3.0 (#122)
  .release-please-manifest.json
  CHANGELOG.md
Labels: none

Pin typescript to ignore react-scripts incompatibility
  frontend/package.json
Labels: none

chore(main): release 0.3.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: none

chore(main): release 0.3.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: none

feat: tune lost water by category
  recipe_estimator/recipe_estimator.py
Labels: none

docs: Improve onboarding documentation with fragmented structure and community resources (#114)
  README.md
  TODO.md
  docs/2025-poster-recipe-estimator.png
  docs/COMMUNITY.md
  docs/DEVELOPMENT.md
  docs/HOW_IT_WORKS.md
  docs/INSTALLATION.md
Labels: none

docs: Create comprehensive GitHub Copilot instructions for recipe-estimator repository (#116)
  .github/copilot-instructions.md
Labels: github_actions

chore(main): release 0.3.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: none

chore: Upgrade to CIQUAL 2025
  ciqual/alim_2025_11_03.xml
  ciqual/const_2025_11_03.xml
  scripts/build_ciqual_ingredients.py
Labels: none

Add modifier to CIQUAL JSON
  scripts/build_ciqual_ingredients.py
Labels: none

Update Buildx version
  .github/workflows/container-build.yml
Labels: github_actions

Also update ingredients taxonomy
  recipe_estimator/assets/ingredients.json
Labels: none

Tool to check taxonomy codes
  scripts/check_taxonomy_ciqual_codes.py
Labels: none

Add source to CIQUAL ingredients
  scripts/build_ciqual_ingredients.py
Labels: none

Fill in 2025 gaps from 2020
  scripts/build_ciqual_ingredients.py
Labels: none

Make CIQUAL nutrient matching case insensitive
  recipe_estimator/nutrient_map.py
  scripts/build_ciqual_ingredients.py
Labels: none

Fix galactose
  recipe_estimator/assets/nutrient_map.csv
Labels: none

Add starcg
  recipe_estimator/assets/nutrient_map.csv
Labels: none

chore: Switch to Ciqual 2025 (#148)
  .github/workflows/container-build.yml
  ciqual/alim_2025_11_03.xml
  ciqual/const_2025_11_03.xml
  recipe_estimator/assets/ingredients.json
  recipe_estimator/assets/nutrient_map.csv
  recipe_estimator/nutrient_map.py
  scripts/build_ciqual_ingredients.py
  scripts/check_taxonomy_ciqual_codes.py
Labels: github_actions

Apply suggested fix to scripts/check_taxonomy_ciqual_codes.py from Copilot Autofix
  scripts/check_taxonomy_ciqual_codes.py
Labels: none

Apply suggested fix to scripts/check_taxonomy_ciqual_codes.py from Copilot Autofix
  scripts/check_taxonomy_ciqual_codes.py
Labels: none

Minimal implementation
  recipe_estimator/recipe_estimator_cvxpy.py
  recipe_estimator/recipe_estimator_cvxpy_test.py
  requirements.txt
Labels: none

Cater for constraints on sub-ingredients
  recipe_estimator/recipe_estimator_cvxpy.py
  recipe_estimator/recipe_estimator_cvxpy_test.py
Labels: none

Added CVXPY to lost of algorithms on the UI
  frontend/package-lock.json
  frontend/src/Recipe.tsx
  recipe_estimator/main.py
  recipe_estimator/recipe_estimator_cvxpy.py
Labels: javascript

Add decision for choice of algorithm
  docs/decisons/README.md
  docs/decisons/algorithm.md
  docs/decisons/template.md
Labels: none

Adjust for water loss
  recipe_estimator/recipe_estimator_cvxpy.py
Labels: none

Docs for water loss
  docs/decisons/water-loss.md
Labels: none

Deal with unmatched ingredients
  docs/decisons/unmatched-ingredients.md
  recipe_estimator/recipe_estimator_cvxpy.py
Labels: none

Adjust nutrient weighting based on proportion of known ingredients
  recipe_estimator/recipe_estimator_cvxpy.py
  recipe_estimator/recipe_estimator_cvxpy_test.py
Labels: none

Adjust weightings for best results
  docs/decisons/nutrient-weighting.md
  recipe_estimator/assets/nutrient_map.csv
Labels: none

Revised weightings to compromise with other test sets
  docs/decisons/nutrient-weighting.md
  recipe_estimator/assets/nutrient_map.csv
  recipe_estimator/recipe_estimator_cvxpy.py
Labels: none

Some tidying up
  recipe_estimator/recipe_estimator_cvxpy.py
Labels: none

fix: Add user-agent to requests
  recipe_estimator/product.py
Labels: none

Potential fix for pull request finding 'CodeQL / Partial server-side request forgery'
  recipe_estimator/product.py
Labels: none

Fix test CI detection
  recipe_estimator/product_test.py
Labels: none
